

.testa{
    
    width: 100%;
    height:100px;
    background-color:rgb(41, 104, 185);
    background-image:url("../img/pattern.png");
    background-size:contain;
    background-repeat:repeat-x;
}

.logo{
    width: 15%;
    height: fit-content;
    margin-top:20px;
}
.titolo{
    font-size:x-large;
    
}

.autore{
    color:grey;
    font-size:20px;
}
.nome-autore{
    color:deepskyblue;
}
.data{
    font-size:15px;
    color:grey;
}


